<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder location="classpath:dogs.properties"/>
    <bean id="myLs" class="springxml.services.MyLoggingService"></bean>
    <bean id="myDog" class="springxml.beans.Dogs">

        <property name="ls" ref="myLs"/>
        <property name="gender" value="${dg1.gender}"/>
        <property name="declawed" value="${dg1.declawed}"/>
    </bean>

    <bean id="myReg" class="springxml.beans.Registration">

        <property name="ls" ref="myLs"/>
        <property name="firstName" value="${rg1.firstname}"/>
        <property name="lastName" value="${rg1.lastname}"/>
    </bean>
</beans>